body,
html {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.navSection {
    width: 100%;
}

.navSectionWrapper {
    width: 80%;
    margin: auto;
    line-height: 70px;
}

.navSectionWrapper>ul {
    list-style: none;
    display: inline;
    float: right;
}

.navSectionWrapper>ul>li {
    display: inline-block;
}

.navSectionWrapper>ul>li>a {
    text-decoration: none;
    color: #4F5665;
    margin: 0 1em;
    font-weight: normal;
}

.navSectionWrapper>ul>li>a span {
    font-weight: 700;
}

.navSectionWrapper>h1 {
    float: left;
    font-size: 20px;
}

.navSectionWrapper>h1 span {
    font-weight: 700;
}

.intro-btn {
    font-weight: 500;
    display: block;
    width: 100%;
    max-width: 180px;
    margin-top: 2em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #F53838;
    padding: 1em;
}

.landingSection {
    width: 100%;
}

.landingSectionWrapper {
    width: 80%;
    margin: 140px;
    display: inline-block;
    max-width: 500px;
    padding-top: 0;
    vertical-align: top;
}

.landingSectionWrapper h1 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    width: 555px;
    height: 140px;
    left: 150px;
    top: 206.77px;
}

.landingSectionWrapper h1>span {
    font-weight: 700;
}

.landingSectionWrapper p {
    width: 555px;
    height: 60px;
    left: 150px;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    color: #4F5665;
}

.landingSectionWrapper p>span {
    font-weight: 600;
}

.landingSection img {
    width: 611px;
    position: absolute;
    top: 100px;
    right: 0px;
}

.card-group {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

p.card-group {
    font-weight: normal;
    font-size: 20x;
}

.info-dt {
    width: 100%;
}

.info-dtwrapper {
    width: 90%;
    display: flex;
    margin: auto;
}

.info-it {
    flex: 1;
    border: #EEEFF2;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    margin: 1 1.5em 1 0em;
}

.info-it>h2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

.info-it>h2 p {
    text-align: center;
}

.info-it-nob {
    border: 0;
}